<div class="d-flex flex-center justify-content-center" style="padding-top: max(100px, 10%);">
  <div class="d-flex flex-center flex-column w-50 justify-content-center">
    <h1 style="text-shadow: 2px 2px #8C9FFF; font-size: 50px;">Welcome to courseflo</h1>
    <p>College peace-of-mind starts here.</p>
    <select class="form-select mb-2">
      <option selectd>Select your university</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <select class="form-select mb-2">
      <option selectd>Select your major</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <select class="form-select">
      <option selectd>Select your minor(s) (optional)</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <a routerLink="/dashboard" class="btn btn-primary btn-light fw-semibold mt-3" style="width: 150px; align-self:end;">Get Started</a>
  </div>
</div>
<div class="poly-container">
  <div class="poly1"></div>
  <div class="poly2"></div>
  <div class="poly3"></div>
</div>
