<div>
  <div style="padding-top: max(100px, 10%); padding-left: max(100px, 10%);">
    <!-- <h1>CourseFlo</h1> -->
    <img src="assets/images/logo.png" alt="logo" height="75px" class="pb-3">
    <p class="fw-semibold">Time is your greatest resource - optimize your course schedule for free.</p>
    <button class="btn btn-primary btn-light fw-semibold">Get Started</button>
    <button class="btn btn-primary btn-clear fw-semibold ms-3">Log In</button>
    <br>
    <br>
    <a routerLink="/welcome" class="fw-semibold">Continue as guest</a>
  </div>
  <div class="poly-container">
    <div class="poly1"></div>
    <div class="poly2"></div>
    <div class="poly3"></div>
  </div>
</div>
